@model IEnumerable<Mis333ksp18Group17.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DiscountAmt)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Receipent)
        </th*@>
        @*<th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolder)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DiscountAmt)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Receipent)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardHolder)
        </td>*@
        <th>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            
        </td>
    </tr>
}

</table>
