@model Mis333ksp18Group17.Models.Order

@using Mis333ksp18Group17.Models
@{
    ViewBag.Title = "Summary";
}

<div>
    <h3>Thank You for Shopping With Us!</h3>
    <h4>Here is Your Order Summary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.Receipent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipent)
        </dd>*@



        @*<dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardHolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardHolder)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.PopcornPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.PopcornPoints)
        </dd>
        @if (Model.GiftOrNot == "Yes")
        {
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        }
    </dl>

</div>
@*</dl>

     <h4>Payment Method</h4>
    </div>
    <table class="table table-sm table-striped table-hover">
        <tr>
            <th>Credit Card Number</th>
            <th>Card Holder</th>
            <th>CardTypes</th>
            <th>Expiration Date</th>
        </tr>
        @foreach (CreditCard cd in Model.AppUser.CreditCards)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => cd.CreditCardNumber)</td>
                <td>@Html.DisplayFor(modelItem => cd.CardHolder)</td>
                <td>@Html.DisplayFor(modelItem => cd.CardTypes)</td>
                <td>@Html.DisplayFor(modelItem => cd.ExpirationDate)</td>
            </tr>
        }
    </table>*@


<h4>Ticket</h4>
<table class="table table-sm table-striped table-hover">
    <tr>
        <th>Movie Title</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>Seat Assignment</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    @foreach (OrderDetail od in Model.OrderDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => od.Showing.Title)</td>
            <td>@Html.DisplayFor(modelItem => od.Showing.Date)</td>
            <td>@Html.DisplayFor(modelItem => od.Showing.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => od.SeatAssignment)</td>
            <td>@Html.DisplayFor(modelItem => od.MoviePrice)</td>
            <td>@Html.DisplayFor(modelItem => od.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => od.TotalPrice)</td>
        </tr>
    }
</table>

<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Subtotal)</td>
        <td>@Html.DisplayFor(model => model.Subtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TotalBeforeTax)</td>
        <td>@Html.DisplayFor(model => model.TotalBeforeTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SalesTax)</td>
        <td>@Html.DisplayFor(model => model.SalesTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TotalPrice)</td>
        <td>@Html.DisplayFor(model => model.TotalPrice)</td>
    </tr>

</table>
@if (Model.GiftOrNot.ToString() == "Yes")
{
    <tr>
        <td>@Html.DisplayNameFor(model => model.FirstName)</td>
        <td>@Html.DisplayFor(model => model.LastName)</td>
    </tr>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



